#principal-anuncio{
    overflow-y: auto;
    height: 87vh;
}

#text-Principal{
font-weight: bold;
color: #0c6a96;
}

#caixa1{
width:600px;
height:200px;
}

#caixa2{
    width: 600px;
}

#caixa3{
    width: 600px;
}

#text2{
    font-weight: bold;
    color: #0c6a96;
}

#Celular{
    width:600px; 
}

.caixa-titulo{
    font-weight: bold;     
}

.caixa-descrição{
    height: 380px;
    width: 400px;
    color: black;
    border-radius:10px ;
    background-color:#e2e0e0;
    padding: 20px;
   
}

.primeiro{
    color: #0c6a96;
    
}
#ServicosOferecidos{
    border: 1px solid gray;
    width: 100%;
    height: 38px;
    padding: 10px;
    margin-bottom: 8px;
}