.card{
    width: 300px;
    height: 450px;
    background-color: white;
    border: 0;
    display: flex;
    justify-content: space-between;
    
}
.imagem{
background-image: url(../prestadorServico/foto.png);
width: 300px;
height: 180px;
border-radius: 2% 2% 0 0;
}
#star{
width: 90px;
height: 30px;
background-color: #03334A;
border-radius: 15%;
}
#avaliation{
    font-weight:  bold ;
    color: white;
}

#Nome{
    color: #03334A;
    font-weight: bold;
    
}
#text{
    font-size:small;
}
#services{
    font-weight: bold;
    color: #03334A;
    font-size:small;
}
#function{
    font-weight: bold;
    font-size:medium;
}
#botão{
    width: 300px;
    height: 60px;
    border: 0;
    border-radius: 0 0 2% 2%;
    background-color: #29A8E3;
    color: aliceblue;
    font-weight: bold;
    font-size: x-large;
}