body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0C6A96; 
}
.caixa{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    min-width: 400px;
    
}
.caixa > *{
    margin: 10px;

}
.caixa-titulo{
    color: #0C6A96;
    font-size: 22pt;
    font-weight: bolder;
}
.caixa-subtitulo{
    font-size: 8pt;

}
.caixa-input{
    width: 100%;
}
.caixa-input > input{
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}
.botao{
    background-color: #0C6A96;
    font-size: 12pt;
    color: white;
    padding: 10px 15px ;
    border-radius: 5px;
    
}
.head{
    position: absolute;
    display: flex;
    top: 20px;
    left: 20px;
    align-items: center;
    
}
.head > img.icon{
    height: 72px;
    width: 72px;
    margin-right: 10px;
}
.head > .text{
    color: white;
    font-weight: bold;

}
